<?xml version="1.0" encoding="utf-8"?>
<RandomEvents>
  <EventPrefabs>
    <ScriptedEvent identifier="cbrnmission_vx">
      <Label name="start" />
      <TagAction criteria="players" tag="enteredplayer" submarinetype="Outpost" continueifnotargetsfound="true" />
      <AfflictionAction affliction="vx_air_agent" strength="20" targettag="enteredplayer" />
      <AfflictionAction affliction="vx_contact_agent" strength="20" targettag="enteredplayer" />
      <ClearTagAction tag="enteredplayer" />
      <WaitAction time="3" />
      <GoTo name="start" />
    </ScriptedEvent><!--vx staions-->
    <ScriptedEvent identifier="cbrnmission_mustard">
      <Label name="start" />
      <TagAction criteria="players" tag="enteredplayer" submarinetype="Outpost" continueifnotargetsfound="false" />
      <AfflictionAction affliction="mustard_air_agent" strength="20" targettag="enteredplayer" />
      <AfflictionAction affliction="mustard_contact_agent" strength="20" targettag="enteredplayer" />
      <ClearTagAction tag="enteredplayer" />
      <WaitAction time="3" />
      <GoTo name="start" />
    </ScriptedEvent><!--Mustard staions-->
    <ScriptedEvent identifier="cbrnmission_anthrax">
      <Label name="start" />
      <TagAction criteria="players" tag="enteredplayer" submarinetype="Outpost" continueifnotargetsfound="false" />
      <AfflictionAction affliction="anthrax_air_agent" strength="20" targettag="enteredplayer" />
      <AfflictionAction affliction="anthrax_contact_agent" strength="20" targettag="enteredplayer" />
      <ClearTagAction tag="enteredplayer" />
      <WaitAction time="5" />
      <GoTo name="start" />
    </ScriptedEvent><!--Anthrax staions-->
    <ScriptedEvent identifier="brokenarrow_normal_event">
      <TagAction criteria="players" tag="targets" />
      <!--mainly affects multiplayer, kills everybody in singleplayer is...uh,frustrating-->
      <AfflictionAction affliction="brokenarrow_alert_agent" strength="60" volume="0.2" targettag="targets" />
      <WaitAction time="60" />
      <AfflictionAction affliction="omegathedeath" strength="500" targettag="targets" />
    </ScriptedEvent>
    <ScriptedEvent identifier="detonation_2">
      <Label name="Start" />
      <TagAction criteria="itemtag:remotedetonatable" tag="availableexplosives" />
      <WaitForItemUsedAction itemtag="availableexplosives" usertag="demoexpert" applytagtoitem="setexplosives"/>
      <WaitForItemUsedAction itemtag="availableexplosives" usertag="demoexpert" applytagtoitem="setexplosives"/>
      <WaitForItemUsedAction itemtag="detonator" />
      <StatusEffectAction targettag="setexplosives">
      <StatusEffect target="This" condition="0" setvalue="true"/>
      </StatusEffectAction>
      <GoTo name="Start" />
    </ScriptedEvent>
    <ScriptedEvent identifier="detonation_1">
      <Label name="Start" />
      <TagAction criteria="itemtag:remotedetonatable" tag="availableexplosives" />
      <WaitForItemUsedAction itemtag="availableexplosives" usertag="demoexpert" applytagtoitem="setexplosives"/>
      <WaitForItemUsedAction itemtag="detonator" />
      <StatusEffectAction targettag="setexplosives">
        <StatusEffect target="This" condition="0" setvalue="true"/>
      </StatusEffectAction>
      <GoTo name="Start" />
    </ScriptedEvent>
    <ScriptedEvent identifier="detonation_3">
      <Label name="Start" />
      <TagAction criteria="itemtag:remotedetonatable" tag="availableexplosives" />
      <WaitForItemUsedAction itemtag="availableexplosives" usertag="demoexpert" applytagtoitem="setexplosives"/>
      <WaitForItemUsedAction itemtag="availableexplosives" usertag="demoexpert" applytagtoitem="setexplosives"/>
      <WaitForItemUsedAction itemtag="availableexplosives" usertag="demoexpert" applytagtoitem="setexplosives"/>
      <WaitForItemUsedAction itemtag="detonator" />
      <StatusEffectAction targettag="setexplosives">
        <StatusEffect target="This" condition="0" setvalue="true"/>
      </StatusEffectAction>
      <GoTo name="Start" />
    </ScriptedEvent>
    <ScriptedEvent identifier="craftablecbrn_col">
      <SpawnAction speciesname="human" npcsetidentifier="Craftable_CBRN" npcidentifier="cbrnguy_col" spawnlocation="MainSub" targettag="spawn_cbrn" teamid="FriendlyNPC" amount="1" allowinplayerview="true" />
      <NPCChangeTeamAction npctag="spawn_cbrn" teamid="Team1"  addtocrew="true" />
    </ScriptedEvent>
    <ScriptedEvent identifier="craftablecbrn_sep">
      <SpawnAction speciesname="human" npcsetidentifier="Craftable_CBRN" npcidentifier="cbrnguy_sep" spawnlocation="MainSub" targettag="spawn_cbrn" teamid="FriendlyNPC" amount="1" allowinplayerview="true" />
      <NPCChangeTeamAction npctag="spawn_cbrn" teamid="Team1"  addtocrew="true" />
    </ScriptedEvent>
  </EventPrefabs>
</RandomEvents>